*{
  margin: 0;
  padding: 0%;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F2F3EC;
  position: fixed;
  top: 0;
  width: 100%;
}
nav li{
    float: right;
  }
  nav a{
    display: block;
    padding: 14px 16px;
    color: black;
    background-color:#F2F3EC;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  nav ul li a:hover:not(.active){
      background-color: #F9C7C2;
    }
  .active{
    background-color: #6D7031;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #F2F3EC;
    font-family: 'Montserrat';
  }

/* aca empieza la HOME */

.homegrid{
  display: grid;
  grid-template-columns: 626px 304px 302px;
  grid-template-rows: 352px 317px;
  padding: 60px;
}
.cardtextohome{
text-align: center;
padding: 100px 0;
width: 304px;
height: 156px;
}
.cardtextohome pre{
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

color: #000000;
}

/* aca empieza la pag MENU */

.bodymenu div h1{
  width: 174px;
  height: 46px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  color: #644372;
}

.buttonmenu{
  position: absolute;
  text-decoration: none;
  width: 300px;
  height: 65px;
  left: 678px;
  top: 501px;
  background: #6D7031;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0px;

  /* Tipografia del boton*/

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 93.9%;
  color: #F2F3EC;
}
a{
  text-decoration: none;
  color:#F2F3EC ;
}
.buttonmenu :hover:not(.active){
  background-color: #644372;
}
.buttonreserva{
  position: absolute;
  text-decoration: none;
  width: 300px;
  height: 65px;
  left: 678px;
  top: 587px;
  background: #2E3665;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0px;

   /* Tipografia del boton*/
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 93.9%;
}
.buttonreserva a:link {
  text-decoration: none;
  color: #F2F3EC;
}
.buttonreserva :hover:not(.active){
  background-color: #644372;
}

/* aca empieza la pag PRENSA*/

.divimagenprensa {
  display: inline;
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

.divimagenprensa:hover {
  border: 5px solid #6D702A;
}

.divimagenprensa img {
  width: 100%;
  height: auto;
}

.textolinkprensa {
  padding: 15px;
  text-align: center;
}

/* Aca empieza NOSOTROS*/

.bodynosotros h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 93.9%;
  color: #6D7031;
}

.divnosotroshistoria div {
  position: absolute;
  right: 0px
}
.divnosotroshistoria h1{
  position: absolute;
  width: 367px;
  height: 34px;
  left: 678px;
  top: 255px;
}
.divnosotroshistoria p{
  position: absolute;
  width: 625px;
  height: 312px;
  left: 681px;
  top: 319px;
}

.divnosotroshistoria div h1{
  position: absolute;
  right: 0px;
  width: 367px;
  height: 34px;
  left: 678px;
  top: 255px;
}

.divnosotroshistoria div p{
  position: absolute;
  width: 625px;
  height: 312px;
  left: 681px;
  top: 319px;
}

.gridequiponosotros{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  padding: 10px;
}
.bloqueequipo{
  align-self: center;
  text-align: center;
  width: 844px;
  height: 245px;
  background: #F9C7C2;
  border-radius: 122.5px;
}
.bloqueequipo h1{
  padding-top: 50px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 93.9%;
color: #673B6E;
}
.bloqueequipo p{
  padding-top: 30px;
  font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 20px;
color: #000000;
width: 626px;
}
.nosotrosgrid{
  display: grid;
  grid-template-columns: auto auto;
}
.textovino{
  width: 598px;
  height: 700px;
  text-align: justify;
  padding: 200px;
}
.bloquejardin{
  position: absolute;
  text-align: center;
  width: 844px;
  height: 245px;
  left: 246px;
  top: 4000px;
  background: #644372;
  border-radius: 122.5px;
}
.bloquejardin p{
  text-align: center;
  width: 626px;
  height: 96px;  
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;  
  color: #F2F3EC;
}
.gridfotosjardin{
  display: grid;
  grid-template-columns: auto auto;
}
.divfinnosotros{
  text-align: center;
  align-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.textofinnosotros {
  text-align: center;
  width: 730px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}

/* Aca empieza CONTACTO*/

.bodycontacto h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 93.9%;
  color: #6D7031;
 }
 .bodycontacto h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
 }
 .bodycontacto p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
 }
 .primerdivcontacto img{
float:left
}
 .divtextocontacto h1{
  position: absolute;
  width: 189px;
  height: 34px;
  left: 919px;
  top: 210px;
 }
 .divtextocontacto h2{
  position: absolute;
  width: 293px;
  height: 24px;
  left: 919px;
  top: 258px;
 }
 .divtextocontacto p{
  position: absolute;
  width: 150px;
  height: 24px;
  left: 919px;
  top: 282px;
 }
 .divubicacioncontacto{
  text-align: left;
 }
 .divhorariocontacto h1{
  position: absolute;
  width: 139px;
  height: 34px;
  left: 919px;
  top: 396px;
 }
 .divhorariocontacto h2{
  position: absolute;
  width: 177px;
  height: 72px;
  left: 919px;
  top: 448px;
 }
 .divhorariocontacto p{
  position: absolute;
  width: 290px;
  height: 72px;
  left: 1026px;
  top: 448px;
 }
 .mapaplaca{
  position: absolute;
  align-content: center;
  width: 100%;
  height: 161px;
  left: 30px;
  top: 1034px;
  background: #F9C7C2;  
 }
 .mapaplaca button{
  position: absolute;
  float: right;
  width: 300px;
  height: 65px;
  left: 954px;
  top: 50px;
  background: #6D7031;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0px;
 }
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 3px solid #6D7031 ;
  box-sizing: border-box;
}

input[type=submit] {
  width: 300px;
  height: 65px;
  left: 954px;
  top: 50px;
  background: #6D7031;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 93.9%;
}

input[type=submit]:hover {
  background-color: #F9C7C2;
}


 /* Aca empieza FOOTER*/

 footer{
  display: block;
  align-self: baseline;
margin-top: auto;
width: 100%;
height: 200px;
background: #DEE3BD;
text-align: center;

 }
.logofooter{
align-self: center;
padding: 20px ;
width: 93px;
height: 90px;
 }
 footer div{
  align-items: center;
 }
 footer p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
 }
 footer div img{
  width: 30px;
  height: 30px;
 }
